# Check on http://lint.travis-ci.org/ after modifying it!  Originally
# modified from https://gist.github.com/dan-blanchard/7045057
sudo: false
language: python
env:
  - PYTHON_VERSION=3
before_install:
  - wget http://repo.continuum.io/miniconda/Miniconda3-3.7.3-Linux-x86_64.sh -O miniconda.sh
  - chmod +x miniconda.sh
  - ./miniconda.sh -b
  - export PATH=/home/travis/miniconda3/bin:$PATH
  # Update conda itself
  - conda update --yes conda
install:
  - conda env create -n mds-approximations -f environment.yml
  - conda install --yes cython nose pep8 flake8 pip
  #- if [ ${USE_CYTHON} ]; then conda install --yes -n mds-approximations cython; fi
  - source activate mds-approximations
  - pip install .
  - pip install coveralls
script:
  - nosetests --with-coverage --cover-package=mdsa
  - flake8 setup.py mdsa
after_success:
  - coveralls